<form id="frminventario" ng-submit="guardarsucursal()" method="post">
    <div class="mb-1">
        <input type="hidden" id="txtIdsucursal" name="txtIdsucursal" ng-model="txtIdsucursal">
    </div>
    <div class="mb-1">
        <label>Nombre de sucursal</label>
        <input type="text" class="form-control" id="txtNombre" name="txtNombre"  ng-model="txtNombre">
    </div>
    <div class="mb-1">
        <label>Categoria</label>
        <input type="text" class="form-control" id="txtCategoria" name="txtCategoria"  ng-model="txtCategoria">
    </div>
    <div class="mb-1">
        <label>Direccion</label>
        <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"  ng-model="txtDireccion">
    </div>
    <div class="mb-1 text-end">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre Sucursal</th>
                <th>Descripcion</th>
                <th>Nombre Producto</th>
                <th>Existencia</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyInventario"></tbody>
    </table>
</div>
